<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DHT22 Weather Station Project</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script
      src="https://cdn.plot.ly/plotly-2.20.0.min.js"
      charset="utf-8"
    ></script>
    <link
      href="{{url_for('static', filename = 'index.css')}}"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
      integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">DonskyTech</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid content mt-5">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block sidebar collapse"
        >
          <div class="sidebar position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a
                  class="nav-link active link-danger"
                  aria-current="page"
                  href="#"
                >
                  <span class="material-symbols-outlined"> dashboard </span>
                  Dashboard
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div class="row">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-danger"
            >
              <h1 class="h2 text-danger">DHT22 Weather Station Dashboard</h1>
              <div class="row"></div>
            </div>
          </div>
          <div class="row">
            <div
              class="d-flex p-2 justify-content-evenly overview-boxes justify-content-center"
            >
              <div
                class="box d-flex align-items-center justify-content-center rounded-3 p-1 shadow"
              >
                <div class="right-side">
                  <div class="box-topic">Temperature</div>
                  <div class="number" id="temperature">35 C</div>
                </div>
                <span class="indicator material-symbols-outlined"
                  >device_thermostat</span
                >
              </div>
              <div
                class="box d-flex align-items-center justify-content-center rounded-3 p-1 shadow"
              >
                <div class="right-side">
                  <div class="box-topic">Humidity</div>
                  <div class="number" id="humidity">40%</div>
                </div>
                <span class="indicator material-symbols-outlined">
                  humidity_percentage
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-8 bg-white">
              <div class="p-3 border-top border-3 border-danger">
                <div class="row mt-3 gx-5">
                  <div class="col-md-12 col-lg-6 history-divs">
                    <div id="temperature-history"></div>
                  </div>
                  <div class="col-md-12 col-lg-6 history-divs">
                    <div id="humidity-history"></div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-md-12 col-lg-4 d-flex flex-column align-items-center"
            >
              <div
                class="row p-3 bg-light border-top border-3 border-danger bg-white"
              >
                <div id="temperature-gauge"></div>
              </div>
              <div
                class="row p-3 bg-light border-top border-3 border-danger mt-4 bg-white"
              >
                <div id="humidity-gauge" class=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-white">&copy;2023 www.donskytech.com</span>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'index.js') }}"
    ></script>
  </body>
</html>
